.bannière {
	color: whitesmoke;
	text-align: center;
	padding: 32px;
	background: url(../Images/claire-sauvin.jpg) no-repeat;
	background-size: 100% 100%;
	align-items: center;
}

.img-titre {
	border-bottom: 5px solid rgb(6, 241, 6);
}

.monLogo{
	padding: 2%;
	background: white;
	width: 50px;
	height: 50px;
	margin: auto;
	border-radius: 50%;
}
.monLogo:hover{
	background: red;
	position: relative;
	transition: 0.6s ease;
	top: 10px;
}
.logo {
	height: 50px;
	width: 50px;
}